$primary_color: #2189fa;
$base0_color: #17161d;
$base1_color: #21222b;
$base2_color: #323543;
$base3_color: #2e2f3a;
$topbar_contents_color: #aaaaaa;
$topbar_border_color: #3e4054;
$wrapper_border_color: #1c1d28;
$codespace_color: $base1_color;
//#35395C

:export {
  codespace_color: $base1_color;
}

// tools
$button_active_color: #2772db;
$button_border_color: #2a2a2d;
$button_bg_color: #4f5158;
$button_bg_hover_color: #575b67;

// terminal
$color_text: rgb(206, 206, 206);
$color_text_bg: rgba(233, 233, 233, 0.056);
$color_error: rgb(255, 77, 77);
$color_error_bg: rgba(214, 71, 71, 0.139);
$color_warning: rgb(255, 228, 75);
$color_target: rgb(68, 142, 240);
$color_target_old: rgb(106, 112, 120);
$color_object: rgb(255, 164, 112);
$color_time: rgba(154, 157, 167, 0.7);