.topBar {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #27303d;
    height: 28px;
    border-radius: 15px;
    padding-left: 15px;

    i {
        color: #fff;
        font-style: normal;
        font-size: 13px;
        padding-top: 10px;
        padding-left: 15px;
        width: 100%;
        height: 100%;
    }
}

.console {
    height: 100%;
    margin: 10px 20px 0px 20px;
    color: #fff;
    line-height: 1.6rem;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    font-family: monospace;

    .warning {
        color: rgb(255, 228, 75);
    }

    .errer {
        color: rgb(255, 77, 77);
    }

    .target {
        color: rgb(68, 142, 240);
        margin-right: 8px;
    }

    .object {
        color: rgb(255, 164, 112);
        text-decoration: underline;
    }

    .consoleInput_wrap {
        display: flex;

        .consoleInput {
            width: 100%;
            outline: none;
            background: none;
            border: none;
            color: #fff;
            font-size: 16px;
            font-family: monospace;
        }
    }
}