.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #aaa;
	background: #0002;
	font-size: 12px;
	padding: 3px 16px;

	.menu_container_left,
	.menu_container_right {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.menu_container_middle {
		display: flex;
		align-items: center;
		gap: 6px;
	}

	.manu_item {
		cursor: pointer;
		padding: 4px 5px;

		&:hover {
			color: #fff;
		}
	}

	.manu_button {
		cursor: pointer;
		background: #fff1;
		padding: 5px 8px;
		border-radius: 4px;
	}

	.manu_projectName {
		background: rgba(15, 15, 19, 0.42);
		border: 1px solid #b7bdc81c;
		border-radius: 4px;
		color: #ddd;
		padding: 3px 8px;
		width: 220px;
	}

	svg {
		width: 23px;
		height: 23px;
		margin-right: 3px;
	}
}
