@use "@assets/scss/_variables.scss" as *;

.topBar {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
  background-color: $base2_color;
  height: 24px;
  // border-radius: 5px;
  padding: 0px 5px;

  button {
    height: 100%;
    width: 40px;
    background-color: $base2_color;
  }

  .searchBar {
    width: 100%;
    // height: 100%;
    background-color: $base3_color;
    border: 1px solid $topbar_border_color;
    // padding: 1px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 2px 0px;
    padding-left: 12px;

    svg {
      width: 12px;
      height: 12px;
      fill: $topbar_contents_color;
    }

    i {
      color: $topbar_contents_color;
      font-style: normal;
      font-size: 12px;
      margin-left: 5px;
    }
  }

  .addObject {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.addObject_disabled {
      cursor: not-allowed;

      .addObject_add svg {
        stroke: #ffffff58;
      }

      .addObject_dropdown svg {
        fill: #ffffff58;
      }
    }

    .addObject_add {
      width: 15px;
      height: 15px;
      padding-right: 1px;

      svg {
        stroke: #ffffff;
      }
    }

    .addObject_dropdown {
      width: 5px;
      padding-top: 2px;

      svg {
        display: block;
        fill: #ffffff;
      }
    }
  }
}

.objects {
  height: 100%;
  padding: 8px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #2a3038;
    margin: 10px;
    border-radius: 100px;
  }

  .object_folder {
    display: flex;
    flex-direction: column;
    // gap: 10px;
    // background: #222a35;
    // border-radius: 7px;
    // width: 0px;
    position: relative;
    width: 100%;

    .treeline {
      width: 8px;
      height: 1px;
      background-color: #fff1;
      margin-right: 2px;
    }

    .object {
      color: #fff;
      height: 20px;
      border-radius: 5px;
      padding-left: 5px;
      display: flex;
      align-items: center;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        outline: 1px solid #7379912f;
      }

      &.object_selected {
        background: $base3_color;
      }

      .object_arrow {
        width: 16px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        svg {
          width: 10px;
        }
      }

      .object_icon {
        width: 18px;
        height: 100%;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        svg {
          width: 10px;
          fill: #fff;
        }
      }

      .object_name {
        font-size: 11px;
        margin-left: 4px;
        margin-right: auto;

        // &:hover {
        // 	background: #0002;
        // }
      }

      .object_see {
        width: 30px;
        height: 100%;
        // background: $base2_color;
        flex-shrink: 0;

        &:hover {
          background: #212935;
        }
      }

      .object_goto {
        width: 35px;
        height: 100%;
        // background: $base2_color;
        flex-shrink: 0;

        &:hover {
          background: #212935;
        }
      }
    }

    .object_child {
      border-left: 1px solid #fff1;
      margin-left: 11px;
      // padding-left: 10px;
      display: flex;
      flex-direction: column;
      gap: 3px;
      // padding-bottom: 23px;
      padding-top: 3px;
      padding-left: 6px;
    }
  }
}