$button_active_color: #2772db;
$button_border_color: rgb(31, 31, 33);
$button_bg_color: #4f5158;
$button_bg_hover_color: #575b67;

$button_border_radius: 6px;

.viewerController {
	display: flex;
	align-items: center;
	gap: 9px;
	margin-left: auto;
	padding: 6px 10px;
	width: fit-content;

	button {
		width: 30px;
		height: 24px;
		background-color: $button_bg_color;

		&:hover {
			background-color: $button_bg_hover_color;
		}
	}

	svg {
		fill: rgb(215, 217, 221);
		margin-top: 2px;
	}

	.positionIndicator {
		color: rgb(182, 182, 182);
		display: flex;
		gap: 6px;
		font-size: 12px;
		margin-top: 3px;

		i {
			font-style: normal;
		}
	}

	.options {
		display: flex;
		gap: 4px;

		button {
			border-radius: $button_border_radius;
			border: 1px solid $button_border_color;

			svg {
				width: 16px;
				height: 16px;
			}
		}

		.option_active {
			background: $button_active_color;

			&:hover {
				background: $button_active_color;
			}
		}
	}

	.tool {
		border-radius: $button_border_radius;
		overflow: hidden;
		border: 1px solid $button_border_color;

		svg {
			width: 12px;
			height: 12px;
		}

		.tool_active {
			background: $button_active_color;
		}
	}

	.player {
		border-radius: $button_border_radius;
		overflow: hidden;
		border: 1px solid $button_border_color;

		svg {
			width: 10px;
			height: 10px;
			fill: #fff;
		}

		.div > * {
			width: 42px;

			&[data-state='0'] {
				&:hover {
					background: #595959;
				}

				svg {
					fill: #868686;
				}
			}
		}

		@mixin active($color) {
			background: $color;

			&:hover {
				background: darken($color, 5%);
			}
		}

		.play {
			&[data-state='2'] {
				@include active($button_active_color);
			}
		}

		.pause {
			&[data-state='2'] {
				@include active(#ffc000);
			}
		}

		.stop {
			&[data-state='2'] {
				@include active(#f23a3a);
			}
		}
	}
}
