@use "@assets/scss/_variables.scss" as *;
$button_border_radius: 6px;

.tools_wrap {
  &.tools_fullscreen {
    position: absolute;
    overflow: hidden;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 600px;
    height: 65px;
    z-index: 30;

    .tools {
      position: absolute;
      box-sizing: border-box;
      bottom: 15px;
      left: 50%;
      transform: translate(-50%, 0);
      background: rgba($base1_color, 0.4);
      border: 1px solid rgba($wrapper_border_color, 0.2);
      transition: bottom 0.3s;
      justify-content: center;
      padding: 8px 10px;
      border-radius: 8px;
      gap: 10px;
      flex-direction: row-reverse;

      &.tools_hide {
        bottom: -55px;
      }
    }
  }
}

.tools {
  background-color: $base1_color;
  border: 1px solid $wrapper_border_color;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 7px;
  // margin-left: auto;
  padding: 6px 10px;
  // width: fit-content;

  button {
    width: 32px;
    height: 24px;
    background-color: $button_bg_color;

    &:hover {
      background-color: $button_bg_hover_color;
    }
  }

  svg {
    fill: rgb(215, 217, 221);
    margin-top: 2px;
  }

  .options {
    display: flex;
    gap: 3px;

    button {
      border-radius: $button_border_radius;
      border: 1px solid $button_border_color;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    .option_active {
      background: $button_active_color;

      &:hover {
        background: $button_active_color;
      }
    }
  }

  .tool {
    border-radius: $button_border_radius;
    overflow: hidden;
    border: 1px solid $button_border_color;

    svg {
      width: 12px;
      height: 12px;
    }

    .tool_active {
      background: $button_active_color;
    }
  }

  .player {
    border-radius: $button_border_radius;
    overflow: hidden;
    border: 1px solid $button_border_color;

    button {
      outline: 1px solid $button_border_color;
    }

    svg {
      width: 10px;
      height: 10px;
      fill: #fff;
    }

    .div>* {
      width: 42px;

      &[data-state='0'] {
        &:hover {
          background: #595959;
        }

        svg {
          fill: #868686;
        }
      }
    }

    @mixin active($color) {
      background: $color;

      &:hover {
        background: darken($color, 5%);
      }
    }

    .play {
      &[data-state='2'] {
        @include active($button_active_color);
      }
    }

    .pause {
      &[data-state='2'] {
        @include active($button_active_color);
      }
    }

    .stop {
      &[data-state='2'] {
        @include active($button_active_color);
      }
    }
  }
}