.layout {
    display: flex;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    padding: 25px;
}

.window_controller {
    background-color: #ffffff10;
    border-radius: 1000px;
    position: absolute;
}

.window_controller:hover {
    background-color: #ffffff30;
}

.layout_left {
    height: 100%;
    width: 800px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 20px;

    .viewer {
        width: 100%;
        flex-shrink: 0;

        .viewer_viewer {
            width: 100%;
            height: calc(800px / 16 * 9);
        }

        .viewer_controller {
            margin: 15px 0px;
        }
    }

    .layout_left_bottom {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;

        .window_controller {
            height: 70%;
            width: 6px;
        }

        .objects {
            height: 100%;
            flex-shrink: 0;
        }
        
        .folder {
            width: 100%;
            height: 100%;
        }
    }
}

.layout_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .window_controller {
        height: 6px;
        width: 70%;
    }

    .workspace {
        width: 100%;
        flex-shrink: 0;
    }

    .console {
        width: 100%;
        height: 100%;
    }
}