@use "@assets/scss/_variables.scss" as *;

.workSpace {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .editor_wrap {
    width: 100%;
    height: 100%;
    background: $codespace_color;
    box-sizing: border-box;
    border: 1px solid $wrapper_border_color;
  }

  .editor_placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 100%;

    h5 {
      font-size: 20px;
      color: #464651;
    }

    span {
      color: #464651;
    }

    svg {
      width: 200px;
      height: 200px;

      path {
        fill: rgba(0, 0, 0, 0.221);
      }
    }
  }

  .workMenu {
    height: 35px;
    display: flex;
    background: $base2_color;
    // border-radius: 8px 8px 0 0;

    .menuItemSelected {
      background: $codespace_color !important;
    }

    .menuItem {
      width: 120px;
      height: 100%;
      // border-radius: 10px 10px 0px 0px;
      font-size: 12px;
      padding-left: 12px;
      padding-right: 10px;
      color: #fff;
      border: 1px solid $wrapper_border_color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .menuItem_name {
        min-width: 0px;
        display: flex;
        margin-right: 5px;

        .menuItemContent {
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
        }
      }

      .close {
        width: 13px;
        height: 13px;
        border-radius: 3px;
        flex-shrink: 0;
        cursor: pointer;

        &:hover {
          background: rgba(255, 255, 255, 0.155);
        }

        svg {
          fill: rgb(212, 212, 212);
        }
      }

      .menuItem_border {
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0px;
      }
    }
  }
}