.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #aaa;
	font-size: 13px;
	padding: 6px 25px;

	.menu_container_left,
	.menu_container_right {
		display: flex;
		align-items: center;
		gap: 30px;
	}

	.menu_container_middle {
		display: flex;
		align-items: center;
		gap: 6px;
	}

	.manu_item {
		cursor: pointer;

		&:hover {
			color: #fff;
		}
	}

	.manu_button {
		cursor: pointer;
		background: #fff1;
		padding: 5px 8px;
		border-radius: 4px;
	}

	.manu_projectName {
		background: none;
		border: 1px solid #fff1;
		border-radius: 4px;
		color: #fff;
		padding: 5px 10px;
		width: 220px;
	}

	svg {
		width: 25px;
		height: 25px;
	}
}

.layout {
	display: flex;
	width: 100%;
	height: 100%;
	// padding: 25px;
	overflow: hidden;
}

.window_controller {
	background-color: #fff1;
	border-radius: 1000px;
	position: absolute;
}

.window_controller:hover {
	background-color: #fff3;
}

.layout_left {
	height: 100%;
	width: 800px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex-shrink: 0;
	margin-right: 0px;

	.viewer {
		width: 100%;
		flex-shrink: 0;

		.viewer_viewer {
			width: 100%;
			height: calc(800px / 16 * 9);
		}

		.viewer_controller {
			margin: 0px 0px;
		}
	}

	.layout_left_bottom {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		position: relative;
		overflow: hidden;

		.window_controller {
			height: 70%;
			width: 6px;
		}

		.objects {
			height: 100%;
			flex-shrink: 0;
		}

		.folder {
			width: 100%;
			height: 100%;
		}
	}
}

.layout_right {
	min-width: 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	.layout_right_top {
		width: 100%;
		height: 100%;
		min-width: 0px;
		flex-shrink: 1;
		display: flex;

		.workspace {
			width: 70%;
			flex-shrink: 0;
		}

		.inspecter {
			width: 100%;
		}
	}

	.window_controller {
		height: 6px;
		width: 70%;
	}

	.console {
		width: 100%;
		height: 40%;
		flex-shrink: 0;
	}
}
